{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "importOrder": [
    "^react",
    "^next.*$|^@next/.*$",
    "^@/i18n/(.*)$",
    "^@/db/(.*)$",
    "^@/services/(.*)$",
    "^@/validators/(.*)$",
    "^@/types/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/(.*)$|/_components/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^@/seo/(.*)$",
    "^./hooks/(.*)$",
    "lucide-react",
    "^@radix-ui/(.*)$",
    "^['~/(*)']",
    "^['.']"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
